/* Common CSS Start*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    body {
        overflow-x: hidden;
    }
}

/** Component **/
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #edf2f6;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    vertical-align: top;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:hover{
    text-decoration: none;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.cf:after,
.cf:before {
    display: table;
    content: "";
}

.cf:after {
    clear: both;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
}
.form-control:focus,
.form-control:active,
.form-control:hover {
    outline: none;
    box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    outline: none;
    box-shadow: none;
}

textarea:focus{
   outline: 0;
}

.has-error {
    color: red;
    font-size: small;
}


/* Common CSS End */
.main-wrapper {
    margin-top: 98px;
}

.login-form {
    max-width: 450px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
}
.common-page-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.card-head h2 {
    font-size: 22px;
    border-bottom: 2px solid #000;
    display: inline-block;
    padding-bottom: 4px;
}

.sign-up {
    margin-top: 6px;
    font-size: 14px;
}
.sign-up a:hover {
    text-decoration: none;
    color: #000;
}

/* Wall-post-section */

.wall-right-wrapper {
    -webkit-box-shadow: 1px 1px 5px #bfbfbf;
    -moz-box-shadow: 1px 1px 5px #bfbfbf;
    -o-box-shadow: 1px 1px 5px #bfbfbf;
    -ms-box-shadow: 1px 1px 5px #bfbfbf;
    box-shadow: 1px 1px 5px #bfbfbf;
    background-color: #fff;
    border-radius: 5px;
    
}

.user-section{
    padding: 15px;
}

.user-avatar {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    text-align: center;
    vertical-align: top;
    border-radius: 4px;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.username{
    display: inline-block;
    margin-top: 10px;
}

.username p{
    margin:0;
    font-weight: 600;
    text-transform: capitalize;
}

.post-content-wrapper {
    display: block;
    width: 100%;
    margin-top: 15px;
}

.post-content{
    border:0;
    resize: none;
    width: 100%;
}

.post-btn-wrapper {
    padding: 10px 15px;
    border-top: 1px solid #ebebeb;
}

.btn-post{
    padding: .375rem 1.25rem;    
}

.post-btn-wrapper ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
}
.post-btn-wrapper ul li {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px 0;
    cursor: pointer;
}
.post-btn-wrapper ul li .icon-like-active,
.post-btn-wrapper ul li .icon-comment-active{
    display: none;
}
.post-btn-wrapper ul li.active .icon-like-active,
.post-btn-wrapper ul li.active .icon-comment-active{
    display: block;
}
.post-btn-wrapper ul li.active{
    background-color: #f4f4f4;
}
.post-btn-wrapper ul li.active a{
    color:#005cbf;
}
.post-btn-wrapper ul li.active a img{
    filter: invert(19%) sepia(98%) saturate(2688%) hue-rotate(200deg) brightness(89%) contrast(101%);
}
.post-btn-wrapper ul li:hover {
    background-color: #f4f4f4;
}

.post-btn-wrapper ul li a {
    display: flex;
    flex-wrap: wrap;
    color:#000;
}
.post-btn-wrapper ul li a img {
    max-width: 20px;
    width: 100%;
    margin-right: 6px;
}

.post-btn-wrapper ul li a.icon-comment img {
    margin-bottom: -5px;
}

.post-area-wrapper .post-btn-wrapper{
    padding: 5px 15px;
}


@media (min-width: 768px) {
    .main-wrapper {
        max-width: 670px;
    }
}
@media (min-width: 992px) and (max-width: 1060px) {
    .main-wrapper {
        max-width: 895px;
    }
}
@media (min-width: 1061px) {
    .main-wrapper {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .main-wrapper {
        max-width: 1100px;
    }
}
@media (min-width: 1400px) {
    .main-wrapper {
        max-width: 1300px;
    }
}
@media (max-width: 767px) {
    .main-wrapper {
        max-width: 100%;
        margin-bottom: 70px;
        margin-top: 60px;
    }
}
